/*stupid border*/
.titlebar-spacer[type="pre-tabs"] {
	display: none !important;
}

/* unnecessary spacer for window drag, use customize spacer instead*/
hbox.titlebar-spacer:nth-child(3), hbox.titlebar-spacer:nth-child(1){
   display: none !important;
}
hbox.titlebar-buttonbox-container:nth-child(6) > hbox:nth-child(1){
   display: none !important;
   
}

/**/
#navigator-toolbox{
   background-color: transparent !important;
   box-shadow: 0 1px 7px 0px highlight !important;
}
#navigator-toolbox:after{
   border-bottom-color: highlight !important;
}


#nav-bar {
   -moz-box-ordinal-group: 0 !important;/*move navbar to top*/
   background-image: none !important;
   background-color: transparent !important;
   margin-left: var(--sidebar-width);
   -moz-appearance: none !important; /* */
   margin-right: 90px !important;
   
}

#urlbar{
   -moz-appearance: textfield !important;
}



#PersonalToolbar {
   background-image: none !important;
   background-color: transparent !important;
   margin-left: var(--sidebar-width); /*variable defined later*/
}





/**//**/
/* Overrides: Make the back button the same as other buttons */
:root:not([uidensity=compact]) #back-button {
	border-radius: var(--toolbarbutton-border-radius) !important;
}
:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
	background-color: unset !important;
	border: unset !important;
	width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
	height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
	padding: var(--toolbarbutton-inner-padding) !important;
	border-radius: var(--toolbarbutton-border-radius);
}
:root:not([uidensity=compact]) #back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
	background-color: var(--toolbarbutton-hover-background) !important;
	box-shadow: unset;
	border-color: unset;
}
:root:not([uidensity=compact]) #back-button[open] > .toolbarbutton-icon,
:root:not([uidensity=compact]) #back-button:not([disabled]):hover:active > .toolbarbutton-icon {
	background-color: var(--toolbarbutton-active-background) !important;
	border-color: unset;
} 
/*icons*/
#PanelUI-menu-button {
	list-style-image: url("moz-icon://stock/open-menu-symbolic") !important;
}

#alltabs-button{
   list-style-image: url("moz-icon://stock/arrow-down") !important;
}
#nav-bar-overflow-button{
      list-style-image: url("moz-icon://stock/arrow-down-double") !important;
}
#sync-button{
   list-style-image: url("moz-icon://stock/state-sync") !important;
}
#cut-button{
     list-style-image: url("moz-icon://stock/edit-cut") !important; 
}
#paste-button{
     list-style-image: url("moz-icon://stock/edit-paste") !important; 
}
#copy-button{
     list-style-image: url("moz-icon://stock/edit-copy") !important; 
}
#sidebar-button{
   list-style-image: url("moz-icon://stock/view-sidetree") !important;
}

#add-ons-button{
 list-style-image: url("moz-icon://stock/extension-symbolic") !important;

}
/*todo re add animation, probably won't do though */
#downloads-button *{
   background-image: none !important;
   list-style-image: none !important;
}
#downloads-indicator-icon{
   background-image: url(moz-icon://stock/edit-download) !important;
}
#new-tab-button, .tabs-newtab-button {
   list-style-image: url(moz-icon://stock/tab-new) !important;
}

 #back-button {
   list-style-image: url(moz-icon://stock/go-previous) !important;
}

#forward-button {
   list-style-image: url(moz-icon://stock/go-next) !important;
}
#privatebrowsing-button{
   list-style-image: url(moz-icon://stock/view-private) !important;
}
#stop-reload-button[animate]{
   opacity: 0 !important;
}
#reload-button {
   list-style-image: url(moz-icon://stock/view-refresh) !important;
}
#stop-button {
   list-style-image: url(moz-icon://stock/process-stop) !important;
}

#home-button {
   list-style-image: url(moz-icon://stock/go-home) !important;
}/**/

#sidebar-close{
  list-style-image: none !important;
  -moz-appearance: -moz-window-button-close !important;
}
.tab-icon-sound[soundplaying],
.tab-icon-sound[muted],
.tab-icon-sound[activemedia-blocked] {
  list-style-image: url(moz-icon://stock/player-volume) !important;
  
}

.tab-icon-sound[muted] {
  list-style-image: url(moz-icon://stock/player-volume-muted) !important;
}

.tab-icon-sound[activemedia-blocked] {
  list-style-image: url(moz-icon://stock/dialog-cancel) !important;
}

.tab-icon-image{
   filter: invert(100%) grayscale(100%) !important;
}

.toolbarbutton-1 > *{
   fill: CaptionText !important;
}

.bookmark-item[container] {
list-style-image: url("moz-icon://stock/folder") !important;
}
/* 
todo: fix hover effect for overlay
.tab-icon-overlay[soundplaying] {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg");
}

.tab-icon-overlay[muted]:not([crashed]) {
  list-style-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
}
*/


/**//**/

.titlebar-buttonbox-container {
   filter: contrast(100%) !important; /*fixes nightly issues (why??)*/
   /*background-color: red;*/
   position: fixed !important;
   right: -90px !important; /* Move it to right side (adjust for caption buttons) */
   top: -3px !important;/*adjust this to move titlebuttons up or down*/
}


:root[tabsintitlebar] .titlebar-buttonbox{
   position: fixed; /* Fixed position for menu */
   right: 90px !important; /* Move it to right side (adjust for caption buttons) */
   top: 0px !important;/*remember padding tabs*/
   border-left: none !important; /* Remove menu border */
}


/*thanks to someone from firefoxcss*/
:root {
  --sidebar-width: 180px;
  --toolbar-height: -26px;
  --menubar-height: -39px;
}

/* show bookmarks toolbar on new tab only */

/* lock sidebar to height by doing the inverse margin of the toolbar element */
#sidebar-box {
  background-color: transparent !important;
  background-image: none !important;/**/
  z-index: 1000 !important;
  position: relative!important;
  margin-top: -39px !important;
  border-right: 0px solid #ccc;
  box-shadow: 0px !important;
}

/* lock sidebar to specified width */
#sidebar-box, #sidebar-box #sidebar {
   min-width: var(--sidebar-width) !important;
   max-width: var(--sidebar-width) !important;
   -moz-appearance: none !important;
   background-color: transparent !important;
   background-image: none !important;

}

/* hide sidebar header for tree style tabs sidebar 
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}*/
#sidebar-header{
   border-bottom: 1px solid transparent !important;
}
#sidebar{
   padding: 2px !important;

}
#sidebar-switcher-target{
   --webextension-menuitem-image: url(moz-icon://stock/kde) !important;
/*   --webextension-menuitem-image-2x: url(moz-icon://stock/tab-new) !important;*/
}
/* hide normal horizontal tab bar */
#TabsToolbar {
  visibility: collapse !important; }

#sidebar-splitter{
   display: none !important;
  border-style: none !important;
  background-color: transparent !important;
  background-image: none !important;
}/**/

/*#webextpanels-window, #webext-panels-stack, #webext-panels-browser{
   background-color: transparent !important;
   background-image: none !important;
   padding-bottom: 80px !important;
}*/
/*transparent newtab*/
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels,browser[type=content-primary],browser[type=content] > html {background: rgba(0,0,0,0) !important}